@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}
@layer base {
  @font-face {
    font-family: 'Windows95';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/W95FA.otf) format('opentype');
  }
}
body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}




